:root {
    --cor-primaria: #222; /* preto escuro */
    --cor-segundaria: #888; /* cinza médio */
    --cor-fundo: #fff; /* branco */
    --cor-texto: #222; /* preto escuro */
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    color: var(--cor-texto);
    line-height: 1.6;  
    max-width: 600px;
    margin: auto;
}

main {
    /* display: flex; */
    height: auto;
    width: 100%;
    /* width: 70%; */
    padding-bottom: 3rem ;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #00000036;
}

.header-links {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.header-link {
    position: relative;
    
    color: #333;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s all ease;
}

.header-link:hover {
    color: #222;
    transition: 0.4s all ease;
}

.header-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #222;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.header-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.acoes-index {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.botoes-container {
    display: flex;
    align-items: center;
}

.botao {
    padding: 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #00000036; ;
}

.botao-pesquisa,.botao-criar, .botao-filtro {
    background-color: #fff;
    color: #222;
}


.barra-criar, .barra-pesquisar {
    width: 0;
    padding: 0;
    margin-left: 10px;
    border: 1px solid ;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    border: 1px solid #00000036;
}

#form-busca {
    width: 100%;
}

.barra-criar.ativo, .barra-pesquisar.ativo {
    width: 100%;
    padding: 10px;
    opacity: 1;
}

.botao:hover {
    transform: scale(1.1);
}

/* .pesquisa-container {
    position: relative;
    display: flex;
    background-color: white;
    padding: 1rem 0;
    border-bottom: 1px solid;
}

.pesquisa-icon {
    background: none;
    border: none;
    color: var(--cor-texto);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
}

.pesquisa-icon:hover {
    color: var(--cor-primaria);
    transform: translateY(-2px);
}

.barra-pesquisa {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    width: 100%;
    z-index: 1000;
}

.barra-pesquisa-ativa {
    display: flex;
    animation: slideDown 0.3s ease-out;
}

.barra-pesquisa input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.barra-pesquisa input:focus {
    outline: none;
    border-color: var(--cor-primaria);
}

.botao-pesquisa {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-pesquisa:hover {
    background-color: #222;
    color: #fff;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

.login-modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.login-modal.ativo {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

.login-container {
    position: relative;
    background-color: var(--branco);
    margin: 2rem auto;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-fechar {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: var(--cor-texto);
    cursor: pointer;
    z-index: 10;
}

.login-fechar:hover {
    color: #ff4444;
}

.login-header {
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.login-titulo {
    color: var(--cor-texto);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.login-form {
    padding: 1.5rem;
}

.login-grupo {
    margin-bottom: 1.5rem;
}

.login-grupo label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--cor-texto);
    font-weight: 500;
}

.login-grupo input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.login-grupo input:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.1);
}

.login-acoes {
    padding: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
}

.login-link {
    text-decoration: none;
}

.login-botao {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-botao.primario {
    background-color: #222;
    color: #fff;
}

.login-botao.primario:hover {
    background-color: #444;
}

.login-botao.secundario {
    background-color: white;
    color: var(--cor-texto);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.nav {
    border-top: 1px solid rgba(0, 0, 0, 0.144) ;
    width:600px;
    margin: auto;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: white;
}

.links {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    flex: 2;
}

.nav-icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-texto);
    transition: all 0.3s ease;
}

.nav-icons i {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    color: #333;
}

.feed {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.feed h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--cor-texto);
    font-size: 2rem;
}

.post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.08);
    border-top: 1px solid  rgba(0, 0, 0, 0.08);

}

.post-card {
    /* background-color: ; */
    overflow: hidden;
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 100%;
   
}

.post-card:hover {
    transform: translateY(-2px);
}

.card-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
   
}

.card-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon i {
    color: #999;
    font-size: 1.2rem;
}

.card-header-info {
    flex: 1;
}

.card-titulo {
    color: var(--cor-texto);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.card-data {
    color: #666;
    font-size: 0.9rem;
}

.card-main {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.card-conteudo {
    color: var(--cor-texto);
    line-height: 1.5;
    font-size: 0.95rem
}

.card-footer {
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: ; */
}

.card-acoes {
    display: flex;
    gap: 1.1rem;
}

.card-acao {
    color: #666;
    cursor: pointer;
    transition: all 0.2 ease;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.card-acao span {
    font-size: 0.9rem;
}

.card-acao:hover {
    color: #222;
}

.post-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.post-modal.ativo {
    display: block;
}

.post-modal-conteudo {
    position: relative;
    background-color: #ffffff;
    margin: 1rem auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.post-modal.ativo .post-modal-conteudo {
    animation: modal 0.3s ease-out;
}

.post-modal-banner {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.post-modal-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-modal-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05), transparent);
}

.post-modal-header .post-header-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.post-header-info {
    flex: 1;
}

.post-modal-titulo {
    margin: 0 0 0.5rem 0;
    font-size: 1.4rem;
    color: var(--cor-texto);
}

.post-modal-meta {
    display: flex;
    gap: 1.5rem;
    color: #666;
}

.post-modal-quebra {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 1rem 1rem; 
}

.post-modal-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-modal-lateral {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 1.5rem;

}

.post-modal-info {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
}

.secao-info {
    margin-bottom: 2rem;
}

.secao-info:last-child {
    margin-bottom: 0;
}

.secao-titulo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
    color: #333;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    color: #555;
}

.info-item:last-child {
    margin-bottom: 0;
}

.info-item i {
    color: #666;
    width: 16px;
}

.post-modal-descricao {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.post-modal-descricao h3 {
    margin: 0 0 1rem 0;
    color: #333;
    font-size: 1.4rem;
}

.post-modal-descricao p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #555;
}

.post-modal-acoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: #f8f9fa;
    border-top: 1px solid #eee;
}

.acoes-botao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.50rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.acoes-botao.primeiro {
    background-color: #222;
    color: #fff;
}

.acoes-botao.primeiro:hover {
    background-color: #444;
}

.acoes-botao.segundo {
    background-color: #e9ecef;
    color: #495057;
}

.acoes-botao.segundo:hover{
    background-color: #dee2e6;
}

.fechar-modal {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 10;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.fechar-modal:hover {
    color: #ff4444;
}

.criar-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.criar-botoes {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.criar-botao {
    width: 270px;
    flex: 1;
    padding: 1rem;
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.criar-botao.ativo {
    background-color: var(--cor-primaria);
    color: white;
}

.formularios {
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.formularios h2 {
    color: var(--cor-primaria);
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    margin-bottom: 1.5rem;
}

.form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--cor-texto);
}

.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.form textarea {
    min-height: 120px;
    resize: vertical;
}

.cep {
    display: flex;
}

.formCep {
    display: none;
}

.formCep.ativo {
    display: block;
}

.btnCEP {
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    background-color: #4CAF50;
    color: white;
    font-weight: 500;
    border: none;
}

.btnCEP:active {
    border: 1px solid;
    background-color: #418144;
}

.btnEnviar {
    width: 550px;
    flex: 1;
    padding: 1rem;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btnEnviar:hover {
    background-color: #444;
    color: #fff;
}

/* estilo pag perfil */
.perfil-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
    background: #fff;
}

.perfil-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 2rem;
    margin-bottom: 2rem;
    background-color: transparent;
    padding: 2rem 0 1rem 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ececec;
}

.perifl-img {
    flex: 0 0 200px;
}

.perfil-img img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.perfil-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.perfil-info h2 {
    font-size: 1.2rem;
    margin-bottom: .2rem;
    color: #222;
}

.perfil-status {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 0.5rem;
}

.status {
    text-align: left;
}

.status .numero {
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
}

.status .label {
    font-size: 0.85rem;
    color: #888;
}

.perfil-botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: none;
    padding-bottom: 0;
    justify-content: flex-start;
}

.perfil-botao {
    padding: 0.5rem 1.2rem;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 500;
}
.perfil-botao:hover {
    background-color: #f0f0f0;
}

.perfil-botao.ativo {
    background-color: #222;
    color: #fff;
    border: 1px solid #222;
}

.aba-conteudo {
    display: none;
    animation: fadeIn 0.5s ease-out;
    margin-top: 1.5rem;
}

.aba-conteudo.ativo {
    display: block;
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projeto-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.07);
    transition: transform 0.2s ease;
    border: 1px solid #ececec;
    width: 100%;
}

.projeto-card:hover {
    transform: translateY(-5px);
}

.projeto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.projeto-info {
    padding: 1rem 1.2rem 1.2rem 1.2rem;
}

.projeto-info h3 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    color: #222;
}

.projeto-info p {
    color: var(--cor-texto);
    margin-bottom: 0.7rem;
    font-size: 0.97rem;
}

.projeto-status {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    color: var(--cor-texto);
    font-size: 0.9rem;
}

.projeto-status i {
    color: #888;
}

.visually-hidden {
    display: none;
}

/* Estilos para a página de resultados */
.resultados-container {
    max-width: 600px;
    margin: 0 auto;
}

.resultados-container h2 {
    font-size: 1.2rem;
    color: var(--cor-texto);
    margin-bottom: 0.5rem;
    text-align: center;
}

.resultados-lista {
    border-top: 1px solid #eee;
}

.resultado-item {
    display: block;
    padding: 0.8rem 1rem;
    color: var(--cor-texto);
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.resultado-item:hover {
    background-color: #f8f8f8;
}

.sem-resultados {
    text-align: center;
    color: var(--cor-segundaria);
    padding: 1rem;
    border-top: 1px solid #eee;
}
